*{
    box-sizing: border-box;
}
body{
    margin-left: 100px;
    margin-right: 50px;
}
header{
    position: relative;
    /* display: inline-block; */
}

h1{
font-family: 'Dancing Script', cursive;
font-size: xx-large;
padding: 0;
    margin: 0;
}
#first{
    display: inline-flex;
}
#first img{
    padding: 20px;
    margin-left: 90px;
}
#first p{
    font-size: xx-small;
    /* margin-top: 65px; */
    padding-right: 300px;
}

#Second{
    display: inline-flex;
    margin-left: 80px;
    margin-bottom: 20px;
}
#three{
    display: inline-flex;
    margin-bottom: 20px;

}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    margin-left: 100px;
}
#date{
    font-size: xx-small;
    color: gray;
    margin-bottom: 20px;
    margin-left: 100px;
}
#print{
   float: right;
   display: inline;
   padding: 20px; 
   width: 100px;
   height: 50px;
  
}
#print p{
    display: inline;
    padding: 40px;
    margin-bottom: 40px;
}
main img{
    margin-left: 100px;
}
.text{
    text-align: center;
    display: inline-block;
    width: 70%;
    margin-left: 100px;
    text-indent: 50px;
  text-align: justify;
}

#fifth div , #fifth img , #fifth button {
    /* display: inline; */
    display: inline;
}
/* #fifth p{
    margin-top: 70px;
    margin-right: 100px;
}

#fifth h3{
    margin-left: 40px;
    position: relative;
} */
/* #six{
    margin-left: 200px;
    margin-bottom: 50px;
    width: 65%;
}
button {
background-color: brown;
height: 50px;
color: white;
float: right;

} */
#bio{
    display: inline;
}
#bio p , #bio h3{
    display: inline;
  position: relative;
}
#fifth button{
    background-color: brown; 
    /* border: none; */
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin-left: 700px; */
    margin-bottom: 30px;
}
#bio p {
    text-indent: 50px;
}


footer{
    text-align: center;
}
